
    body{
        background: linear-gradient(45deg, #2b2c2e, #18181a);
        height: 100vh;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
